<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h3>All chats</h3>
    <form action="/chats/new" method="get">
        <button>New chat</button>
    </form>
    <br>

    <% for(let chat of chats){ %>
        <div class="chats">
            <p>From : <i> <%= chat.from %> </i></p>
            <div class="msg">
                <p>Message : <%= chat.msg %> </p>
                <form action="/chats/<%= chat._id %>/edit" method="get">
                    <button>Edit</button>
                </form>
                <br>
                <form action="/chats/<%= chat._id %>?_method=DELETE" method="post" >
                    <button>Delete</button>
                </form>
            </div>
            <p>Received by : <i> <%= chat.to %> </i></p>
            <p><%= chat.created_at.toString().split(" ")[4] %> &nbsp;&nbsp;
                 <%= chat.created_at.toString().split(" ").slice(0 , 4).join("-") %></p>
            
        </div>
        <br><br>
    <% } %>
    
</body>
</html>